@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap');


@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }
}

body {
    font-family: "Fanwood Text", serif;
    background-color: #ccc5b9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: 100px;
    color: #403d39;
}

.blog {
    background-color: #403d39;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 350px;
    margin: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #403d39;
    transform: translateX(400%);
    transition: transform 4s ease;
}

.blog:nth-last-of-type(even) {
    transform: translateX(-400%);
}

.blog.show {
    transform: translateX(0);
}

.blog h2 {
    font-size: 35px;
}
